*.iml
.gradle
.DS_Store
.externalNativeBuild
.cxx
local.properties
.agents/
.idea/
.kotlin/
.npm/
.plans/
.zig-cache/
references/
scripts/

# Android
android/app/src/main/jniLibs/
android/app/key.jks
/build
/captures

# Zig
zig-src/.zig-cache/
